<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
  </startup>
  <connectionStrings>
    <add connectionString="Data Source=THANH_TUNG;Initial Catalog=QuanLyXeKhach;Integrated Security=True" name ="AbstractFactoryConnect"></add>
    <!--<add connectionString="Data Source=DESKTOP-4PP84KE\SQLEXPRESS;Initial Catalog=QuanLyXeKhach;Integrated Security=True" name ="AbstractFactoryConnect" />>-->
  </connectionStrings>
</configuration>